*,
::before,
::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

.header {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}

.main {
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
}

.footer {
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}

body {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  color: #000000;

  display: flex;
  flex-direction: column;
  height: 100%;

  max-width: 1440px;
  margin: 0 auto;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: #000000;
}

.container-fluid {
  width: 100%;
}

.container {
  //  1196 + 20*2 = 1236
  max-width: 1236px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
  // outline: 1px solid pink;

  @media (max-width: $tablet-width) {
    padding-left: 110px;
    padding-right: 110px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 20px;
    padding-right: 20px;
  }
}

.container--nopadding-right {
  @media (max-width: $tablet-width) {
    padding-right: 0;
    // outline: 1px solid green;
  }
}

.container--nopadding-left {
  @media (max-width: $tablet-width) {
    padding-left: 0;
    // outline: 1px solid green;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  width: 246px;
  height: 64px;
  background: #0266c1;

  font-weight: 500;
  font-size: 16px;
  color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: $tablet-width) {
    width: 191px;
    height: 47px;

    font-size: 14px;
    letter-spacing: 1.3px;
  }
}
