@mixin title {
  font-weight: 800;
  font-size: 35px;
  line-height: 43px;
  color: #2d383f;

  @media (max-width: $tablet-width) {
    font-size: 25px;
    line-height: 30px;
  }

  @media (max-width: $mobile-width) {
    width: 156px;
    font-size: 22px;
    line-height: 27px;
  }
}

@mixin title-shadow {
  font-weight: 800;
  font-size: 55px;
  line-height: 67px;
  color: rgba(45, 56, 63, 0.06);

  @media (max-width: $tablet-width) {
    font-size: 40px;
    line-height: 49px;
  }

  @media (max-width: $mobile-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

@mixin hover {
  &:hover {
    opacity: 0.9;
  }
}

@mixin btn-hover {
  background: #ffffff;
  color: #000000;
}

@mixin btn-link {
  background: #58a9f5;
}

@mixin btn-text {
  color: #21233b;
  opacity: 0.7;
}
