.about {
  position: relative;
  min-height: 575px;
  margin-top: 85px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  @media (max-width: $tablet-width) {
    margin-top: 60px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 295px;
  }
}

.about__bg {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url("../img/about-bg.jpg") left center no-repeat;
  background-size: contain;

  @media (max-width: $tablet-width) {
    width: 49%;
    height: 77%;
    background: url("../img/about-bg-mobile.jpg") left center no-repeat;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    height: 350px;
    top: -85px;
  }
}

// для формата webp
.webp .about__bg {
  background: url("../img/about-bg.webp") left center no-repeat;
  background-size: contain;

  @media (max-width: $tablet-width) {

    background: url("../img/about-bg-mobile.webp") left center no-repeat;
  }
}

.about__wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-left: 50px;
  padding-right: 110px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-top: 50px;
    padding-left: 60px;
    padding-right: 65px;
    align-items: flex-end;
  }

  @media (max-width: $tablet-width) {
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.about__title {
  position: relative;

  @media (max-width: $tablet-width) {
    width: 51%;
    margin-top: 55px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-top: 0;
  }

  h2 {
    @include title();
  }
}

.about__title-shadow {
  @include title-shadow();

  position: absolute;
  top: -20px;
  left: 0;

  @media (max-width: $mobile-width) {
    top: -11px;
  }
}

.about__box {
  margin-top: 50px;
}

.about__history,
.about__target {
  h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #2d383f;
    letter-spacing: 1.5px;

    @media (max-width: $tablet-width) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  p {
    font-size: 14px;
    line-height: 24px;

    color: #000000;
    letter-spacing: 1px;

    @media (max-width: $tablet-width) {
      letter-spacing: 0.6px;
      line-height: 23px;
    }
  }
}

.about__history {
  margin-top: 50px;

  @media (max-width: $tablet-width) {
    width: 51%;
    margin-top: 43px;
    padding-right: 93px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-right: 0;
    margin-top: 49px;
  }

  p {
    margin-top: 23px;

    @media (max-width: $mobile-width) {
      margin-top: 21px;
    }
  }
}

.about__target {
  width: 100%;
  margin-top: 50px;
  z-index: 1;

  p {
    margin-top: 17px;
  }

  @media (max-width: $tablet-width) {
    margin-top: 76px;
    padding-left: 90px;
    padding-right: 120px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 43px;
    padding-left: 0;
    padding-right: 0;
  }
}
