.about {
  position: relative;
  min-height: 575px;
  margin-top: 105px;
  padding-bottom: 20px;

  @media (max-width: $tablet-width) {
    margin-top: 60px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 350px;
  }
}

.about__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 56%;
  height: 100%;
  background: url("../img/about-bg.jpg") center no-repeat;
  background-size: cover;

  @media (max-width: $tablet-width) {
    width: 49%;
    height: 70%;
    background: url("../img/about-tablet-bg.jpg") center no-repeat;
    background-size: cover;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.about__wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.about__title {
  position: relative;

  h2 {
    @include title();
  }
}

.about__title-shadow {
  @include title-shadow();

  position: absolute;
  top: -20px;
  left: 0;
}

.about__box {
  width: 44%;
  margin-top: 50px;

  @media (max-width: $tablet-width) {
    width: 51%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.about__history,
.about__target {
  h3 {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
    color: #2D383F;
    letter-spacing: 1.5px;

    @media (max-width: $tablet-width) {
      font-size: 18px;
      line-height: 22px;
    }
  }

  p {
    font-size: 14px;
    line-height: 24px;

    color: #000000;
    letter-spacing: 1px;
  }
}

.about__history {
  margin-top: 50px;

  @media (max-width: $tablet-width) {
    margin-top: 47px;
  }

  p {
    margin-top: 17px;
  }
}

.about__target {
  width: 44%;
  margin-top: 50px;

  p {
    margin-top: 17px;
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-top: 70px;
  }
}

