.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 770px;
  padding-top: 316px;
  background: #d7e1eb url("../img/feedback-bg.jpg") center top no-repeat;
  background-size: cover;

  // desktop@2x
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: #d7e1eb url("../img/feedback-bg.jpg") center top no-repeat;
    background-size: cover;
  }

  @media (max-width: $tablet-width) {
    padding-top: 238px;
  }

  @media (max-width: $mobile-width) {
    background: #d7e1eb url("../img/feedback-bg-mobile.jpg") center top
      no-repeat;
    background-size: cover;
    height: 640px;
    padding-top: 192px;

    // mobile@2x
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: #d7e1eb url("../img/feedback-bg.jpg") center top no-repeat;
      background-size: cover;
    }
  }

  // для формата webp
  .webp .feedback {
    background: #d7e1eb url("../img/feedback-bg.webp") center top no-repeat;
    background-size: cover;

    // desktop@2x
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: #d7e1eb url("../img/feedback-bg.webp") center top no-repeat;
      background-size: cover;
    }

    @media (max-width: $mobile-width) {
      background: #d7e1eb url("../img/feedback-bg-mobile.webp") center top
        no-repeat;
      background-size: cover;

      // mobile@2x
      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background: #d7e1eb url("../img/feedback-bg.webp") center top no-repeat;
        background-size: cover;
      }
    }
  }

  h2 {
    font-weight: 800;
    font-size: 35px;
    line-height: 43px;
    color: #ffffff;

    @media (max-width: $tablet-width) {
      font-size: 25px;
      line-height: 30px;
    }
  }

  p {
    line-height: 24px;
    color: #ffffff;
    margin-top: 15px;
    letter-spacing: 1px;
    text-shadow: 0 0 5px #000000;

    @media (max-width: $tablet-width) {
      width: 375px;
      text-align: center;
      margin-top: 20px;
    }

    @media (max-width: $mobile-width) {
      width: 218px;
    }
  }
}

.feedback__form {
  width: 987px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-top: 35px;
    padding-left: 25px;
    flex-direction: column;
    align-items: center;
  }

  @media (max-width: $mobile-width) {
    margin-top: 33px;
    padding-left: 0;
  }

  input {
    width: 354px;
    height: 64px;
    padding-left: 32px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    background: #ffffff;
    border: 1px solid rgba(2, 102, 193, 0.112);

    @media (max-width: $tablet-width) {
      font-size: 14px;
      width: 268px;
      height: 50px;
      padding-left: 15px;

      &::placeholder {
        text-align: center;
        padding-left: -15px;
      }
    }
  }

  button {
    border: none;
    letter-spacing: 1px;

    &:hover {
      @include btn-hover;
    }

    @media (max-width: $tablet-width) {
      width: 268px;
      height: 50px;
    }
  }
}
