.gallery__box {
  position: relative;

  h2 {
    @include title();

    position: absolute;
    top: 105px;
    left: 0;

    @media (max-width: $tablet-width) {
      top: 117px;
    }

    @media (max-width: $mobile-width) {
      top: 50px;
    }
  }
}

.gallery__title-shadow {
  @include title-shadow();

  position: absolute;
  top: 85px;
  left: 0;

  @media (max-width: $tablet-width) {
    top: 100px;
  }

  @media (max-width: $mobile-width) {
    top: 40px;
  }
}

.gallery__decs {
  position: absolute;
  top: 168px;
  left: 0;
  width: 60%;

  line-height: 24px;
  letter-spacing: 0.7px;

  @media (max-width: $tablet-width) {
    font-size: 14px;
    width: 72%;
    top: 170px;
    line-height: 22px;
  }

  @media (max-width: $mobile-width) {
    width: 65%;
    top: 92px;
    line-height: 21px;
  }
}

.gallery__text-bold {
  font-weight: bold;
}

.gallery__swiper-container {
  padding-top: 260px;

  @media (max-width: $tablet-width) {
    padding-top: 270px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 275px;
  }
}

.gallery__swiper-slide {
  width: 275px;
  height: auto;

  @media (max-width: $mobile-width) {
    width: 158px;
  }
}

.gallery__swiper-slide--double {
  width: 298px;
  height: auto;

  @media (max-width: $mobile-width) {
    width: 172px;
  }
}

.gallery__swiper-button-next,
.gallery__swiper-button-prev {
  top: 28%;

  @media (max-width: $tablet-width) {
    top: 30%;
  }

  @media (max-width: $mobile-width) {
    top: 41%;
  }
}

.gallery__swiper-button-next {
  right: 125px;

  @media (max-width: $tablet-width) {
    right: 112px;
  }

  @media (max-width: $mobile-width) {
    right: 22px;
  }
}

.gallery__swiper-button-prev {
  right: 165px;

  @media (max-width: $tablet-width) {
    right: 154px;
  }

  @media (max-width: $mobile-width) {
    right: 64px;
  }
}
