.header {
  width: 100%;
  min-height: 779px;
  padding-top: 52px;
  color: #ffffff;

  background: #1570c5 url("../img/header-bg.jpg") center no-repeat;

  // desktop@2x
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: #1570c5 url("../img/header-bg.jpg") center no-repeat;
  }

  // tablet
  @media (max-width: $tablet-width) {
    min-height: 628px;
    padding-top: 22px;

    background: #1570c5 url("../img/header-bg-tablet.jpg") right no-repeat;
    background-size: cover;

    // tablet@2x
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: #1570c5 url("../img/header-bg-tablet@2x.jpg") right no-repeat;
      background-size: cover;
    }
  }

  // mobile
  @media (max-width: $mobile-width) {
    min-height: 470px;
    padding-top: 5px;

    background: #1570c5 url("../img/header-bg-mobile.jpg") center no-repeat;
    background-size: cover;

    // mobile@2x
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: #1570c5 url("../img/header-bg-mobile@2x.jpg") center no-repeat;
      background-size: cover;
    }
  }
}

/* если поддерживается webp */
.webp .header {
  background: #1570c5 url("../img/header-bg.webp") center no-repeat;

  // desktop@2x
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: #1570c5 url("../img/header-bg.webp") center no-repeat;
  }

  // tablet
  @media (max-width: $tablet-width) {
    background: #1570c5 url("../img/header-bg-tablet.webp") right no-repeat;
    background-size: cover;

    // tablet@2x
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: #1570c5 url("../img/header-bg-tablet@2x.webp") right no-repeat;
      background-size: cover;
    }
  }

  // mobile
  @media (max-width: $mobile-width) {
    background: #1570c5 url("../img/header-bg-mobile.webp") center no-repeat;
    background-size: cover;

    // mobile@2x
    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: #1570c5 url("../img/header-bg-mobile@2x.webp") center
        no-repeat;
      background-size: cover;
    }
  }
}

.header__wrapper {
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  position: relative;

  @media (max-width: $tablet-width) {
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 21px;
  }
}

.header__logo {
  flex-shrink: 1;

  @media (max-width: $tablet-width) {
    display: flex;
    order: 1;
    margin-left: 41%;
  }

  @media (max-width: $mobile-width) {
    position: absolute;
    top: 15px;
    right: 0;
  }
}

.header__hamburger {
  display: none;

  @media (max-width: $tablet-width) {
    display: flex;
    order: 0;
  }

  @media (max-width: $mobile-width) {
    margin-top: 6px;
  }
}

.header__nav {
  flex-shrink: 3;
  margin-left: 7%;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.header__list {
  display: flex;
  flex-wrap: wrap;
}

.header__item {
  margin-right: 45px;
  margin-bottom: 10px;

  &:last-of-type {
    margin-right: 0;
  }

  a {
    color: #ffffff;
    letter-spacing: 1.5px;

    &:hover {
      @include btn-text;
    }
  }
}

.header__tel {
  flex-shrink: 0;
  margin-left: 7%;

  color: #ffffff;
  font-weight: bold;
  font-size: 19px;

  &:hover {
    @include btn-text;
  }

  @media (max-width: $tablet-width) {
    order: 2;
    font-size: 16px;
    margin-left: 12%;
  }

  @media (max-width: $mobile-width) {
    position: absolute;
    top: 45px;
    right: 0;

    font-size: 14px;
    line-height: 22px;
  }
}

.header__wrapper-title {
  position: relative;
}

.header__title {
  margin-top: 180px;
  font-weight: 800;
  font-size: 45px;
  line-height: 55px;
  letter-spacing: -0.5px;

  @media (max-width: $tablet-width) {
    max-width: 340px;
    margin-top: 130px;
    font-size: 35px;
    line-height: 43px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    margin-top: 85px;
    font-size: 27px;
    line-height: 33px;
  }
}

.header__shadow {
  position: absolute;
  top: -45px;
  left: 0;

  font-weight: 900;
  font-size: 93px;
  line-height: 113px;
  text-transform: uppercase;
  color: #f5f9fc;
  opacity: 0.2;

  @media (max-width: $tablet-width) {
    font-size: 69px;
    line-height: 84px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.header__desc {
  max-width: 468px;
  margin-top: 10px;
  font-size: 19px;
  line-height: 28px;
  letter-spacing: 1.5px;

  @media (max-width: $tablet-width) {
    max-width: 400px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1.2px;
  }

  @media (max-width: $mobile-width) {
    width: 75%;
    font-size: 14px;
    line-height: 21px;
  }
}

.header__btn {
  margin-top: 40px;

  &:hover {
    @include btn-hover;
  }

  @media (max-width: $tablet-width) {
    margin-top: 28px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 25px;
  }
}

.header__social {
  margin-top: 90px;

  @media (max-width: $tablet-width) {
    margin-top: 75px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}
