.process {
  position: relative;
  margin-bottom: 50px;
  margin-top: 37px;

  h2 {
    @media (max-width: $tablet-width) {
      font-size: 20px;
    }

    @media (max-width: $mobile-width) {
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 1px;
    }
  }
}

.process__list {
  position: relative;
  display: flex;
  justify-content: flex-start;
  margin-top: 35px;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    margin-top: 45px;
    min-height: 255px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 40px;
  }
}

.process__item {
  display: flex;
  width: 25%;

  &:nth-child(2) {
    padding-left: 22px;
  }

  &:nth-child(3) {
    padding-left: 47px;
  }

  &:last-of-type {
    padding-left: 55px;
  }

  @media (max-width: $tablet-width) {
    width: 50%;
    font-size: 14px;
    line-height: 24px;
    min-height: 133px;

    &:nth-child(2) {
      padding-left: 34px;
    }

    &:nth-child(3) {
      padding-left: 37px;
    }

    &:last-of-type {
      padding-left: 5px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    min-height: 40px;
    margin-bottom: 27px;

    &:nth-child(2) {
      padding-left: 0;
    }

    &:nth-child(3) {
      padding-left: 0;
    }

    &:last-of-type {
      padding-left: 0;
      margin-bottom: 15px;
    }
  }

  p {
    margin-left: 10px;
    line-height: 23px;
    letter-spacing: 1.5px;
    color: #2d383f;

    @media (max-width: $tablet-width) {
      margin-left: 14px;
      letter-spacing: 1px;
    }

    @media (max-width: $mobile-width) {
      font-size: 14px;
      line-height: 20px;
      flex-shrink: 1;
    }
  }

  svg {
    width: 25px;
    height: auto;
  }
}

.process__item--end {
  @media (max-width: $tablet-width) {
    align-items: flex-end;

    div {
      padding-bottom: 45px;
    }
  }

  @media (max-width: $mobile-width) {
    align-items: flex-start;
  }
}

.process__item-img {
  width: 25px;
  height: auto;
  flex-shrink: 0;
}

.process__item--order {
  @media (max-width: $tablet-width) {
    order: 1;
  }
}
