.review {
  position: relative;

  h2 {
    position: absolute;
    top: 75px;
    left: 0;
    @include title();
  }
}

.review__title-shadow {
  @include title-shadow();

  position: absolute;
  top: 58px;
  left: 0;
}

.review__swiper-container {
  padding-top: 150px;
}

.review__swiper-slide {
  width: 389px;
  height: 504px;
  padding-top: 45px;
  padding-bottom: 45px;
  padding-left: 35px;
  margin: 5px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 23px;
}

.review__swiper-header {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.review__swiper-img {
  width: 96px;
  height: 100px;
  margin-right: 18px;
}

.review__swiper-title {
  font-weight: bold;
}

.review__swiper-desc {
  position: relative;

  &::before,
  &::after {
    content: "“";
    font-family: "Gotham Pro", "Arial", sans-serif;
    position: absolute;
    width: 50px;
    height: 50px;
    font-size: 66px;
    line-height: 102px;
    color: #2D383F;
    opacity: 0.05;
  }

  &::before {
    top: -40px;
    left: 0;
  }

  &::after {
    bottom: -35px;
    right: 50%;
    transform: rotate(180deg);
  }
}

.review__swiper-small-text {
  width: 230px;
  margin-bottom: 20px;
}

.review__swiper-text {
  margin-top: 20px;
}

// .review__swiper-button-next,
// .review__swiper-button-prev {
//   top: -8%;
// }
