.review {
  position: relative;

  @media (max-width: $tablet-width) {
    margin-top: 30px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 5px;
  }

  h2 {
    @include title();

    position: absolute;
    top: 35px;
    left: 0;
  }
}

.review__title-shadow {
  @include title-shadow();

  position: absolute;
  top: 18px;
  left: 0;

  @media (max-width: $mobile-width) {
    top: 26px;
  }
}

.review__swiper-container {
  padding-top: 110px;
  padding-left: 4px;
  padding-right: 4px;

  @media (max-width: $mobile-width) {
    padding-top: 93px;
  }

  .swiper-slide-duplicate-prev,
  .swiper-slide-next {
    @media (max-width: $tablet-width) {
      opacity: 0.22;
    }
  }
}

.review__swiper-slide {
  width: 387px;
  min-height: 504px;
  padding-top: 55px;
  padding-bottom: 45px;
  padding-left: 35px;
  padding-right: 10px;
  margin-bottom: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  font-weight: normal;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 23px;

  @media (max-width: $tablet-width) {
    padding: 50px 10px 45px 35px;
  }

  @media (max-width: $mobile-width) {
    width: 274px;
    min-height: 540px;
    padding: 50px 10px 43px 10px;
  }
}

.review__swiper-header {
  display: flex;
  align-items: center;
  margin-bottom: 40px;

  @media (max-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 15px;
  }
}

.review__swiper-img {
  width: 96px;
  height: 100px;
  margin-right: 18px;

  @media (max-width: $mobile-width) {
    margin-right: 8px;
  }
}

.review__swiper-title {
  font-weight: bold;
}

.review__swiper-desc {
  position: relative;

  &::before {
    content: "“";
    font-family: "Gotham Pro", "Arial", sans-serif;
    position: absolute;
    top: -40px;
    left: 0;
    width: 50px;
    height: 50px;
    font-size: 66px;
    line-height: 102px;
    color: #2d383f;
    opacity: 0.05;

    @media (max-width: $mobile-width) {
      top: -35px;
      left: -10px;
    }
  }

  &:last-child {
    position: relative;

    &::after {
      content: "“";
      font-family: "Gotham Pro", "Arial", sans-serif;
      position: absolute;
      bottom: -40px;
      right: 20px;
      transform: rotate(180deg);
      width: 50px;
      height: 50px;
      font-size: 66px;
      line-height: 102px;
      color: #2d383f;
      opacity: 0.05;
    }
  }
}

.review__swiper-small-text {
  width: 240px;
  margin-bottom: 20px;
}

.review__swiper-text {
  margin-top: 20px;
}

.review__swiper-button-next,
.review__swiper-button-prev {
  top: 11%;

  @media (max-width: $tablet-width) {
    top: 9%;
  }

  @media (max-width: $mobile-width) {
    top: 8%;
  }
}
