.swiper-button-next,
.swiper-button-prev {
  top: 17%;

  width: 35px;
  height: 35px;
  background-color: $blue;

  &::after {
    content: "";
    width: 14px;
    height: 8px;
  }

  @media (max-width: $mobile-width) {
    top: 15%;
  }
}

.swiper-button-next {
  right: 0;

  &::after {
    background: url("../img/icon-next.svg") center no-repeat;
  }

  @media (max-width: $tablet-width) {
    right: 15%;
  }

  @media (max-width: $mobile-width) {
    right: 7%;
  }
}

.swiper-button-prev {
  right: 4%;
  left: auto;

  &::after {
    background: url("../img/icon-prev.svg") center no-repeat;
  }

  @media (max-width: $tablet-width) {
    right: 21%;
  }

  @media (max-width: $mobile-width) {

  }
}

.swiper-slide {
  height: 412px;

  @media (max-width: $mobile-width) {
    width: 281px;

  }
}
