.swiper-button-next,
.swiper-button-prev {
  top: 17%;

  width: 35px;
  height: 35px;
  background-color: $blue;

  &:hover {
    @include btn-link;
  }

  &::after {
    content: "";
    width: 14px;
    height: 8px;
  }

  @media (max-width: $mobile-width) {
    top: 15%;
  }
}

.swiper-button-next {
  right: 0;

  &::after {
    background: url("../img/btn-next.svg") center no-repeat;
  }

  @media (max-width: $tablet-width) {
    right: 110px;
  }

  @media (max-width: $mobile-width) {
    right: 20px;
  }
}

.swiper-button-prev {
  right: 40px;
  left: auto;

  &::after {
    background: url("../img/btn-prev.svg") center no-repeat;
  }

  @media (max-width: $tablet-width) {
    right: 150px;
  }

  @media (max-width: $mobile-width) {
    right: 60px;
  }
}
