.training {
  position: relative;
  margin-top: 85px;

  @media (max-width: $tablet-width) {
    margin-top: 115px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 87px;
  }

  h2 {
    @include title();
  }
}

.training__title {
  position: absolute;
  top: 58px;
  left: 3px;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #2d383f;
  letter-spacing: 1.3px;

  @media (max-width: $tablet-width) {
    top: 60px;
    left: 4px;
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: $mobile-width) {
    top: 52px;
    left: 0;
    font-size: 16px;
    line-height: 20px;
  }
}

.training__title-shadow {
  @include title-shadow();

  position: absolute;
  top: -20px;
  left: 0;

  @media (max-width: $mobile-width) {
    top: -7px;
  }
}

.training__decs {
  width: 73%;
  margin-top: 26px;
  line-height: 26px;
  letter-spacing: 1.4px;

  @media (max-width: $tablet-width) {
    margin-top: 29px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 20px;
    width: 85%;

    font-size: 14px;
    line-height: 23px;
  }
}

.training__swiper-container {
  padding-top: 112px;
  padding-bottom: 20px;
  padding-left: 3px;
  padding-right: 3px;

  @media (max-width: $tablet-width) {
    padding-top: 126px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 110px;
  }

  .swiper-slide-next {
    @media (max-width: $tablet-width) {
      opacity: 1;
    }
  }

  .swiper-slide-active {
    @media (max-width: $tablet-width) {
      opacity: 1;
    }
  }
}

.training__swiper-slide {
  width: 234px;
  min-height: 386px;
  padding-top: 15px;
  padding-right: 7px;
  padding-bottom: 15px;
  padding-left: 15px;

  background: #ffffff;
  border: 1px solid #ffffff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  @media (max-width: $tablet-width) {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 6px;
    opacity: 0.2;
  }

  @media (max-width: $mobile-width) {
    padding-left: 13px;
    padding-right: 9px;
  }
}

.training__inner {
  position: relative;
}

.training__coach {
  width: 87px;
  margin-top: 25px;
  font-weight: 700;
  font-size: 14px;
  line-height: 19px;
  color: #000000;
  letter-spacing: 1px;

  @media (max-width: $mobile-width) {
    margin-top: 24px;
  }
}

.training__coach-about {
  margin-top: 10px;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 1px;

  @media (max-width: $tablet-width) {
    margin-top: 10px;
  }
}

.training__coach-social {
  position: absolute;
  top: 3px;
  right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  border: 1px solid #9ac2e6;

  &:hover {
    @include btn-link;
  }
}

.training__swiper-button-next,
.training__swiper-button-prev {
  top: 14%;

  @media (max-width: $tablet-width) {
    top: 16%;
  }

  @media (max-width: $mobile-width) {
    top: 13%;
  }
}
